.navbar {
  background-color: #ececec;
  border-bottom: 1px solid #9c9c9c; }
  .navbar .container-fluid {
    width: 1100px; }
  .navbar .navbar-nav {
    padding-left: 20px;
    border-left: 1px solid #acacac; }
    .navbar .navbar-nav .nav-item {
      padding: 0px 5px; }

.navbar-brand img {
  width: 120px; }

@media only screen and (max-width: 810px) {
  .container-fluid {
    justify-content: space-between !important; } }

footer {
  height: 200px;
  background-color: #353546; }
  footer h2 {
    font-size: 20px;
    color: #f0f0f0; }
  footer .footer__link {
    display: flex;
    align-items: center; }
    footer .footer__link img {
      pointer-events: none;
      width: 100px; }
  footer .footer__list {
    list-style: none;
    color: #f0f0f0; }
    footer .footer__list li:first-child {
      font-weight: 600; }
  footer .ultra__footer {
    color: #c8c8c8;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    position: relative;
    top: 60px;
    height: 40px;
    background-color: #0f0f0f; }

#indexMain {
  background: black;
  background: linear-gradient(180deg, black 40%, #f0f0f0 100%); }
  #indexMain .bannerPresentacion {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(to top, black, rgba(0, 0, 0, 0) 30%), url("../jpgSimu/banner.jpg");
    height: 92vh; }
    #indexMain .bannerPresentacion h1, #indexMain .bannerPresentacion h2, #indexMain .bannerPresentacion p {
      position: relative;
      left: 10%;
      width: 600px;
      color: white;
      text-shadow: 1px 0 black, -1px 0 black, 0 1px black, 0 -1px black, 1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black; }
    #indexMain .bannerPresentacion h1 {
      font-weight: 700;
      padding-bottom: 20px; }
    #indexMain .bannerPresentacion h2 {
      font-size: 26px;
      font-weight: 500;
      padding-bottom: 10px; }
    #indexMain .bannerPresentacion p {
      width: 450px;
      font-weight: 600; }
  #indexMain .cards-container {
    display: flex;
    flex-direction: column;
    align-items: center; }
    #indexMain .cards-container .cards {
      justify-content: center;
      background-color: white;
      width: 95%;
      margin-top: 5px; }
      #indexMain .cards-container .cards img {
        pointer-events: none; }
      #indexMain .cards-container .cards-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        width: 100%; }
        #indexMain .cards-container .cards-content h2 {
          padding-bottom: 50px; }
        #indexMain .cards-container .cards-content p {
          text-align: center;
          width: 80%;
          padding-left: 18%; }
      #indexMain .cards-container .cards .imgHornerito {
        width: 400px; }
    #indexMain .cards-container .distintivos {
      padding-top: 80px;
      width: 95%;
      background-color: white;
      list-style: none; }
      #indexMain .cards-container .distintivos__svg {
        height: 100px;
        pointer-events: none;
        padding-bottom: 15px; }
      #indexMain .cards-container .distintivos li {
        display: flex;
        flex-direction: column; }
        #indexMain .cards-container .distintivos li h4 {
          font-weight: 500;
          padding-top: 10px;
          border-top: 1px solid #ffe600;
          text-align: center; }
    #indexMain .cards-container .refran {
      font-family: 'Charm', cursive;
      text-align: center;
      padding: 100px 0px;
      background-color: white;
      width: 95%;
      font-size: 26px;
      font-weight: 500; }

@media only screen and (min-width: 1600px) {
  .cards-container {
    width: 85%;
    position: relative;
    left: 7%; }
    .cards-container .cards img {
      height: 500px; }
    .cards-container .cards .imgHornerito {
      height: 350px;
      width: 450px !important; } }

@media only screen and (max-width: 1024px) {
  #indexMain .cards-container {
    position: relative;
    left: 2.5%;
    width: 95%; }
    #indexMain .cards-container .cards img {
      height: 250px; }
    #indexMain .cards-container .cards .imgHornerito {
      height: 250px; }
    #indexMain .cards-container .cards-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      width: 100%; }
      #indexMain .cards-container .cards-content h2 {
        padding-bottom: 5px !important;
        font-size: 24px; }
      #indexMain .cards-container .cards-content p {
        text-align: center;
        width: 90% !important;
        padding-left: 9% !important; } }

@media only screen and (max-width: 900px) {
  #indexMain .bannerPresentacion h1, #indexMain .bannerPresentacion h2, #indexMain .bannerPresentacion p {
    position: relative;
    left: 2.5%;
    width: 600px;
    color: white;
    text-shadow: 1px 0 black, -1px 0 black, 0 1px black, 0 -1px black, 1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black; }
  #indexMain .bannerPresentacion h1 {
    margin-bottom: 50px; }
  #indexMain .bannerPresentacion p {
    display: none; }
  #indexMain .cards-container {
    position: static;
    width: 100%; }
    #indexMain .cards-container .cards img {
      height: 250px; }
    #indexMain .cards-container .cards .imgHornerito {
      height: 180px; }
    #indexMain .cards-container .cards-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      width: 100%; }
      #indexMain .cards-container .cards-content h2 {
        padding-bottom: 5px !important;
        font-size: 24px; }
      #indexMain .cards-container .cards-content p {
        text-align: center;
        width: 90% !important;
        padding-left: 9% !important;
        font-size: 14px !important; } }

@media only screen and (max-width: 719px) {
  .navbar-brand {
    font-size: 14px !important;
    width: 50px; }
    .navbar-brand img {
      width: 80px !important; }
  .navbar-toggler-icon {
    height: 30px;
    width: 30px; }
  #indexMain .bannerPresentacion {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(to top, black, rgba(0, 0, 0, 0) 30%), url("/jpgSimu/banner.jpg"); }
    #indexMain .bannerPresentacion h1, #indexMain .bannerPresentacion h2, #indexMain .bannerPresentacion p {
      position: relative;
      text-align: center;
      left: 2.5%;
      width: 90vw;
      color: white;
      text-shadow: 1px 0 black, -1px 0 black, 0 1px black, 0 -1px black, 1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black; }
    #indexMain .bannerPresentacion h2 {
      font-size: 16px; }
    #indexMain .bannerPresentacion p {
      font-size: 12px; }
  #indexMain .cards-container {
    align-items: center !important;
    position: static; }
    #indexMain .cards-container .cards {
      flex-direction: column;
      margin-bottom: 50px;
      width: 95vw !important;
      max-width: 460px; }
      #indexMain .cards-container .cards img {
        height: auto; }
      #indexMain .cards-container .cards .imgHornerito {
        height: 100%;
        width: 100%; }
      #indexMain .cards-container .cards-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        width: 100%; }
        #indexMain .cards-container .cards-content h2 {
          padding-bottom: 5px !important;
          font-size: 20px;
          padding: 30px 0px; }
        #indexMain .cards-container .cards-content p {
          padding: 10px 0px;
          text-align: center;
          width: 90% !important;
          padding-left: 9% !important;
          font-size: 10px !important; }
        #indexMain .cards-container .cards-content p:last-child {
          padding-bottom: 30px; }
  .distintivos {
    width: 95vw !important;
    max-width: 460px;
    padding-top: 25px !important;
    flex-direction: column;
    align-items: center; }
    .distintivos__svg {
      align-self: center;
      width: 50px; }
    .distintivos h4 {
      font-size: 18px;
      padding-bottom: 20px; }
  .refran {
    width: 95vw !important;
    max-width: 460px;
    padding: 20px 0px !important;
    font-size: 20px !important;
    padding-bottom: 50px !important; }
  footer section {
    flex-direction: column; }
    footer section h2 {
      display: none; }
    footer section .footer__link {
      padding-top: 20px;
      padding-bottom: 40px; }
      footer section .footer__link img {
        width: 80px; }
    footer section .footer__list {
      font-size: 14px;
      padding-bottom: 20px; }
  footer .ultra__footer {
    height: 100px;
    top: 0px; }
    footer .ultra__footer p {
      font-size: 12px !important; } }

#mainSimuladores {
  background-color: lightgray;
  background: black;
  background: linear-gradient(180deg, #292929 14%, #c9c9c9 30%, #f0f0f0 100%); }
  #mainSimuladores img {
    pointer-events: none; }
  #mainSimuladores .bannerSimuladores {
    background-image: linear-gradient(to top, #202536, rgba(0, 0, 0, 0) 30%), url("../jpgSimu/banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 92vh;
    width: 100vw;
    max-width: 100%; }
    #mainSimuladores .bannerSimuladores h1, #mainSimuladores .bannerSimuladores h2, #mainSimuladores .bannerSimuladores p {
      position: relative;
      left: 10%;
      width: 800px;
      color: white;
      text-shadow: 1px 0 black, -1px 0 black, 0 1px black, 0 -1px black, 1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black; }
    #mainSimuladores .bannerSimuladores h1 {
      font-weight: 700;
      padding-bottom: 20px; }
    #mainSimuladores .bannerSimuladores h2 {
      font-size: 26px;
      font-weight: 500;
      padding-bottom: 10px; }
    #mainSimuladores .bannerSimuladores p {
      width: 600px; }
  #mainSimuladores .headSimu {
    padding: 50px;
    background-color: #1d2544;
    width: 100%;
    margin-bottom: 20px; }
    #mainSimuladores .headSimu h2 {
      position: relative;
      left: 5%;
      max-width: 30%;
      color: white; }
  #mainSimuladores .simHistory {
    width: 85%;
    margin-bottom: 5px; }
    #mainSimuladores .simHistory div {
      background-color: white;
      margin-bottom: 5px; }
      #mainSimuladores .simHistory div div {
        text-align: center;
        width: 55%; }
        #mainSimuladores .simHistory div div h2, #mainSimuladores .simHistory div div h3 {
          padding-bottom: 20px; }
        #mainSimuladores .simHistory div div li {
          position: relative;
          left: 15%;
          text-align: left; }
        #mainSimuladores .simHistory div div p {
          position: relative;
          left: 10%;
          width: 80%;
          text-align: center;
          line-height: 30px; }
      #mainSimuladores .simHistory div #entrenaBolkow {
        line-height: 20px; }
    #mainSimuladores .simHistory .imgSimu {
      width: 550px; }

@media only screen and (min-width: 1600px) {
  #mainSimuladores .headSimu h2 {
    left: 10%;
    max-width: 30%;
    color: white; }
  #mainSimuladores .simHistory {
    width: 80%; }
    #mainSimuladores .simHistory h2, #mainSimuladores .simHistory h3 {
      font-size: 36px !important; }
    #mainSimuladores .simHistory p, #mainSimuladores .simHistory li {
      font-size: 20px !important;
      line-height: 30px !important; }
    #mainSimuladores .simHistory .imgSimu {
      width: 750px !important; } }

@media only screen and (max-width: 1024px) {
  #mainSimuladores .simHistory h2, #mainSimuladores .simHistory h3 {
    font-size: 24px;
    padding-bottom: 5px !important; }
  #mainSimuladores .simHistory p, #mainSimuladores .simHistory li {
    position: relative;
    left: 10%;
    width: 80%;
    text-align: center;
    font-size: 14px;
    line-height: 20px !important; }
  #mainSimuladores .simHistory .imgSimu {
    width: 400px !important; } }

@media only screen and (max-width: 900px) {
  .headNav .container-fluid {
    justify-content: space-between !important; }
  #mainSimuladores .bannerSimuladores h1, #mainSimuladores .bannerSimuladores h2, #mainSimuladores .bannerSimuladores p {
    left: 2.5%;
    width: 600px; }
  #mainSimuladores .simHistory {
    width: 95%; }
    #mainSimuladores .simHistory h2, #mainSimuladores .simHistory h3 {
      font-size: 20px;
      padding-bottom: 5px !important; }
    #mainSimuladores .simHistory p, #mainSimuladores .simHistory li {
      position: relative;
      left: 10%;
      width: 80%;
      text-align: center;
      font-size: 14px;
      line-height: 20px !important; }
    #mainSimuladores .simHistory .imgSimu {
      width: 400px !important; }
  #mainSimuladores .headSimu h2 {
    left: 0%;
    max-width: 40%; } }

@media only screen and (max-width: 719px) {
  .headNav .container-fluid {
    justify-content: space-between !important; }
  #mainSimuladores .bannerSimuladores h1, #mainSimuladores .bannerSimuladores h2, #mainSimuladores .bannerSimuladores p {
    position: relative;
    text-align: center;
    left: 2.5%;
    width: 90vw; }
  #mainSimuladores .bannerSimuladores h2 {
    font-size: 16px; }
  #mainSimuladores .bannerSimuladores p {
    font-size: 12px; }
  #mainSimuladores .simHistory {
    width: 95%; }
    #mainSimuladores .simHistory div {
      flex-wrap: wrap; }
      #mainSimuladores .simHistory div div {
        width: 100%; }
    #mainSimuladores .simHistory h2, #mainSimuladores .simHistory h3 {
      font-size: 20px;
      padding-bottom: 5px !important;
      padding: 30px 0px; }
    #mainSimuladores .simHistory p, #mainSimuladores .simHistory li {
      position: relative;
      left: 10%;
      width: 80%;
      text-align: center;
      font-size: 14px;
      line-height: 20px !important; }
    #mainSimuladores .simHistory p:first-child {
      padding-top: 30px; }
    #mainSimuladores .simHistory p:last-child, #mainSimuladores .simHistory li:last-child {
      padding-top: 15px;
      padding-bottom: 30px; }
    #mainSimuladores .simHistory .imgSimu {
      width: 100% !important; }
  #mainSimuladores .headSimu h2 {
    left: 0%;
    max-width: 80%; } }

#mainVideos {
  background-color: lightgray;
  background: black;
  background: linear-gradient(180deg, #292929 30%, #f0f0f0 100%); }
  #mainVideos .bannerVideos {
    background-image: linear-gradient(to top, #202536, rgba(0, 0, 0, 0) 30%), url("../jpgSimu/banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 92vh;
    width: 100vw;
    max-width: 100%; }
    #mainVideos .bannerVideos h1, #mainVideos .bannerVideos h2, #mainVideos .bannerVideos p {
      position: relative;
      left: 10%;
      width: 800px;
      color: white;
      text-shadow: 1px 0 black, -1px 0 black, 0 1px black, 0 -1px black, 1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black; }
    #mainVideos .bannerVideos h1 {
      font-weight: 700;
      padding-bottom: 20px; }
    #mainVideos .bannerVideos h2 {
      font-size: 26px;
      font-weight: 500;
      padding-bottom: 10px; }
    #mainVideos .bannerVideos p {
      width: 600px; }
  #mainVideos .headVideos {
    padding: 50px;
    background-color: #1d2544;
    width: 100%;
    margin-bottom: 20px; }
    #mainVideos .headVideos h2 {
      position: relative;
      left: 10%;
      max-width: 30%;
      color: white; }
  #mainVideos section {
    width: 80%;
    background-color: white;
    margin: 20px 0px; }
    #mainVideos section iframe {
      width: 600px;
      height: 300px; }
  #mainVideos #mainSection {
    height: 700px; }
    #mainVideos #mainSection #videoMain {
      width: 100%;
      height: auto; }

@media only screen and (min-width: 1600px) {
  #mainVideos .contenedorParrafos {
    display: flex; }
    #mainVideos .contenedorParrafos p {
      width: 1000px !important;
      margin-top: 11px;
      margin-bottom: 15px;
      line-height: 42px !important;
      font-size: 24px !important; } }

@media only screen and (max-width: 1024px) {
  #mainVideos .contenedorParrafos {
    display: flex; }
    #mainVideos .contenedorParrafos p {
      width: 450px !important;
      margin-top: 11px;
      margin-bottom: 15px;
      line-height: 26px !important;
      font-size: 18px !important; }
    #mainVideos .contenedorParrafos img {
      width: 280px !important;
      height: 193px !important; } }

@media only screen and (max-width: 980px) {
  .container-fluid {
    justify-content: space-between !important; }
  #mainVideos .headVideos h2 {
    left: 0%; }
  #mainVideos .bannerVideos h1, #mainVideos .bannerVideos h2, #mainVideos .bannerVideos p {
    left: 2.5%;
    width: 600px; }
  #mainVideos section {
    width: 95%; }
  #mainVideos .contenedorParrafos {
    display: flex; }
    #mainVideos .contenedorParrafos p {
      width: 450px !important;
      margin-top: 11px;
      margin-bottom: 15px;
      line-height: 26px !important;
      font-size: 16px !important; }
    #mainVideos .contenedorParrafos img {
      width: 250px !important;
      height: 163px !important; } }

@media only screen and (max-width: 800px) {
  #mainVideos .headVideos h2 {
    left: 0%; }
  #mainVideos .bannerVideos h1, #mainVideos .bannerVideos h2, #mainVideos .bannerVideos p {
    position: relative;
    text-align: center;
    left: 2.5%;
    width: 90vw; }
  #mainVideos .bannerVideos h2 {
    font-size: 16px; }
  #mainVideos .bannerVideos p {
    font-size: 12px; }
  #mainVideos section {
    width: 95%; }
  #mainVideos .contenedorParrafos {
    display: flex;
    flex-direction: column; }
    #mainVideos .contenedorParrafos p {
      width: 95% !important;
      margin-top: 11px;
      margin-bottom: 15px;
      line-height: 26px !important;
      font-size: 16px !important; }
    #mainVideos .contenedorParrafos img {
      text-align: center;
      width: 250px !important;
      height: 163px !important; } }

#contactoMain {
  background-color: lightgray; }
  #contactoMain h1 {
    background-color: #353546;
    height: 100px;
    display: flex;
    align-items: center;
    padding-left: 12%;
    color: #f0f0f0; }
  #contactoMain section {
    padding: 80px 0px;
    background-color: white;
    width: 95%;
    list-style: none;
    margin-bottom: 10px; }
    #contactoMain section div {
      width: 85%; }
      #contactoMain section div #ubicacionContacto {
        margin-top: 40px; }
      #contactoMain section div iframe {
        position: relative;
        top: 100px; }
    #contactoMain section .logosContacto img {
      height: 30px;
      width: 40px; }

/* Style inputs with type="text", select elements and textareas */
input[type=text], input[type=email], select, textarea {
  width: 100%;
  /* Full width */
  padding: 6px;
  /* Some padding */
  border: 1px solid #ccc;
  /* Gray border */
  border-radius: 4px;
  /* Rounded borders */
  box-sizing: border-box;
  /* Make sure that padding and width stays in place */
  margin-top: 6px;
  /* Add a top margin */
  margin-bottom: 16px;
  /* Bottom margin */
  resize: vertical; }

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer; }

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049; }

/* Add a background color and some padding around the form */
.contact__container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 450px; }

@media only screen and (max-width: 1024px) {
  iframe {
    width: 250px;
    height: 200px; } }

@media only screen and (max-width: 900px) {
  .container-fluid {
    justify-content: space-between !important; }
  #contactoMain iframe {
    width: 200px;
    height: 150px; }
  #contactoMain section {
    margin: 50px 0px; }
    #contactoMain section div {
      width: 95% !important; }
      #contactoMain section div #ubicacionContacto {
        margin-top: 40px; } }

@media only screen and (max-width: 720px) {
  .container-fluid {
    justify-content: space-between !important; }
  #contactoMain iframe {
    margin: 20px 0px;
    top: 0px !important;
    width: 200px;
    height: 150px;
    left: 15%; }
  #contactoMain section {
    margin: 50px 0px; }
    #contactoMain section div {
      flex-wrap: wrap;
      width: 95% !important; }
      #contactoMain section div #ubicacionContacto {
        margin-top: 40px; } }

#mainNosotros {
  background-color: lightgray;
  background: black;
  background: linear-gradient(180deg, #292929 30%, #f0f0f0 100%); }
  #mainNosotros .bannerNosotros {
    background-image: linear-gradient(to top, #202536, rgba(0, 0, 0, 0) 30%), url("../jpgSimu/banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 92vh;
    width: 100vw;
    max-width: 100%; }
    #mainNosotros .bannerNosotros h1, #mainNosotros .bannerNosotros h2, #mainNosotros .bannerNosotros p {
      position: relative;
      left: 10%;
      width: 800px;
      color: white;
      text-shadow: 1px 0 black, -1px 0 black, 0 1px black, 0 -1px black, 1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black; }
    #mainNosotros .bannerNosotros h1 {
      font-weight: 700;
      padding-bottom: 20px; }
    #mainNosotros .bannerNosotros h2 {
      font-size: 26px;
      font-weight: 500;
      padding-bottom: 10px; }
    #mainNosotros .bannerNosotros p {
      width: 600px; }
  #mainNosotros #PiloCordo {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap; }
    #mainNosotros #PiloCordo section {
      width: 100%; }
      #mainNosotros #PiloCordo section img {
        width: 24%;
        margin-right: -5px; }
  #mainNosotros .headNosotros {
    padding: 50px;
    background-color: #1d2544;
    width: 100%;
    margin-bottom: 20px; }
    #mainNosotros .headNosotros h2 {
      position: relative;
      left: 10%;
      max-width: 30%;
      color: white; }
  #mainNosotros section {
    width: 80%;
    background-color: white;
    margin: 20px 0px; }
    #mainNosotros section .contenedorHistoria {
      padding-bottom: 60px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: 5%; }
      #mainNosotros section .contenedorHistoria h3 {
        padding-top: 50px;
        padding-bottom: 30px;
        font-weight: 600;
        align-self: left;
        border-bottom: 1px solid gray;
        margin-bottom: 20px; }
      #mainNosotros section .contenedorHistoria .contenedorParrafos {
        display: flex; }
        #mainNosotros section .contenedorHistoria .contenedorParrafos p {
          width: 550px;
          margin-top: 11px;
          margin-bottom: 15px;
          line-height: 34px;
          font-size: 20px; }
        #mainNosotros section .contenedorHistoria .contenedorParrafos img {
          width: 350px;
          height: 263px;
          padding-left: 10px;
          margin-bottom: 10px; }

@media only screen and (min-width: 1600px) {
  #mainNosotros .contenedorParrafos {
    display: flex; }
    #mainNosotros .contenedorParrafos p {
      width: 1000px !important;
      margin-top: 11px;
      margin-bottom: 15px;
      line-height: 42px !important;
      font-size: 24px !important; } }

@media only screen and (max-width: 1024px) {
  #mainNosotros .contenedorParrafos {
    display: flex; }
    #mainNosotros .contenedorParrafos p {
      width: 450px !important;
      margin-top: 11px;
      margin-bottom: 15px;
      line-height: 26px !important;
      font-size: 18px !important; }
    #mainNosotros .contenedorParrafos img {
      width: 280px !important;
      height: 193px !important; } }

@media only screen and (max-width: 980px) {
  .container-fluid {
    justify-content: space-between !important; }
  #mainNosotros .headNosotros h2 {
    left: 0%; }
  #mainNosotros .bannerNosotros h1, #mainNosotros .bannerNosotros h2, #mainNosotros .bannerNosotros p {
    left: 2.5%;
    width: 600px; }
  #mainNosotros section {
    width: 95%; }
  #mainNosotros .contenedorParrafos {
    display: flex; }
    #mainNosotros .contenedorParrafos p {
      width: 450px !important;
      margin-top: 11px;
      margin-bottom: 15px;
      line-height: 26px !important;
      font-size: 16px !important; }
    #mainNosotros .contenedorParrafos img {
      width: 250px !important;
      height: 163px !important; } }

@media only screen and (max-width: 800px) {
  #mainNosotros .headNosotros h2 {
    left: 0%; }
  #mainNosotros .bannerNosotros h1, #mainNosotros .bannerNosotros h2, #mainNosotros .bannerNosotros p {
    position: relative;
    text-align: center;
    left: 2.5%;
    width: 90vw; }
  #mainNosotros .bannerNosotros h2 {
    font-size: 16px; }
  #mainNosotros .bannerNosotros p {
    font-size: 12px; }
  #mainNosotros section {
    width: 95%; }
  #mainNosotros #PiloCordo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    #mainNosotros #PiloCordo section {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      align-items: center;
      justify-content: center; }
      #mainNosotros #PiloCordo section img {
        width: 40vw;
        margin: 10px; }
  #mainNosotros .contenedorParrafos {
    display: flex;
    flex-direction: column; }
    #mainNosotros .contenedorParrafos p {
      width: 95% !important;
      margin-top: 11px;
      margin-bottom: 15px;
      line-height: 26px !important;
      font-size: 16px !important; }
    #mainNosotros .contenedorParrafos img {
      text-align: center;
      width: 250px !important;
      height: 163px !important; } }
