.navbar{
    background-color: rgb(236, 236, 236);
    border-bottom: 1px solid rgb(156, 156, 156);
    .container-fluid{
        width: 1100px;
    }
    .navbar-nav{
        padding-left: 20px;
        border-left: 1px solid rgb(172, 172, 172);
        .nav-item{
            padding: 0px 5px;
        }
    }
}

.navbar-brand{
        img{
            width: 120px;
        }
}

#navbarNavDarkDropdown{
    ul{
        border: none;
    }

    #MenuDesplegable{
        background-color: rgb(236, 236, 236);
        box-shadow: 0px 0px 12px -1px rgba(0,0,0,0.31);
        -webkit-box-shadow: 0px 0px 12px -1px rgba(0,0,0,0.31);
        -moz-box-shadow: 0px 0px 12px -1px rgba(0,0,0,0.31);
    }
}

@media only screen and (max-width: 810px){
    .container-fluid{
        justify-content: space-between !important;
    }
}