
#indexMain{
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 40%, rgba(240,240,240,1) 100%);
    .bannerPresentacion{
        background-repeat: no-repeat;
        background-size: cover;
        background-image: linear-gradient(to top, rgba(0,0,0,1), rgba(0, 0, 0, 0) 30%), url("/jpgSimu/banner.jpg"),;

        height: 92vh;
        h1, h2, p{
            position: relative;
            left: 10%;
            width: 600px;
            color: white;
            text-shadow: 1px 0 rgb(0, 0, 0), -1px 0 rgb(0, 0, 0), 0 1px rgb(0, 0, 0), 0 -1px rgb(0, 0, 0),
            1px 1px rgb(0, 0, 0), -1px -1px rgb(0, 0, 0), 1px -1px rgb(0, 0, 0), -1px 1px rgb(0, 0, 0);
        }
        h1{
            font-weight: 700; 
            padding-bottom: 20px;
        }
        h2{
            font-size: 26px;
            font-weight: 500;
            padding-bottom: 10px;
        }
        p{
            width: 450px;
            font-weight: 600;

        }
    }
    .cards-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        .cards{
            justify-content: center;
            background-color: white;
            width: 95%;
            margin-top: 5px;
            img{
                pointer-events: none;
            }
            &-content{
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: center;
                width: 100%;
                h2{
                    padding-bottom: 50px;
                }
                p{
                    text-align: center;
                    width: 80%;
                    padding-left: 18%;
                }
            }

            .imgHornerito{
                width: 400px;
            }
        }

        .distintivos{
            padding-top: 80px;
            width: 95%;
            background-color: white;
            list-style: none;
            &__svg{
                height: 100px;
                pointer-events: none;
                padding-bottom: 15px;
            }
            li{
                display: flex;
                flex-direction: column;
                h4{
                    font-weight: 500;
                    padding-top: 10px;
                    border-top: 1px solid rgb(255, 230, 0);
                    text-align: center;
                }
            }
        }
        
        .refran{
            font-family: 'Charm', cursive;
            text-align: center;
            padding: 100px 0px;
            background-color: white;
            width: 95%;
            font-size: 26px;
            font-weight: 500;
        }
    }
}

@media only screen and (min-width: 1600px){
    .cards-container{
        width: 85%;
        position: relative;
        left: 7%;
        .cards{
            img{
                height: 500px;
            }
            .imgHornerito{
                height: 350px;
                width: 450px !important;
            }

            
        }
    }
}

@media only screen and (max-width: 1024px){

    #indexMain{
    
        .cards-container{
            position: relative;
            left: 2.5%;
            width: 95%;
            .cards{
                img{
                    height: 250px;
                }
                .imgHornerito{
                    height: 250px;
                }
    
                &-content{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    text-align: center;
                    width: 100%;
                    h2{
                        padding-bottom: 5px !important;
                        font-size: 24px;
                    }
                    p{
                        text-align: center;
                        width: 90% !important;
                        padding-left: 9% !important;
                    }
                }
            }
        }
    }
}