#mainSimuladores{
    background-color: lightgray;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgb(41, 41, 41) 14%, rgb(201, 201, 201) 30%, rgba(240,240,240,1) 100%);
    img{
        pointer-events: none;
    }
    .bannerSimuladores{
        background-image: linear-gradient(to top, rgb(32, 37, 54), rgba(0, 0, 0, 0) 30%), url("../jpgSimu/banner.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        height: 92vh;
        width: 100vw;
        max-width: 100%;            //CLAVEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEE
        h1, h2, p{
            position: relative;
            left: 10%;
            width: 800px;
            color: white;
            text-shadow: 1px 0 rgb(0, 0, 0), -1px 0 rgb(0, 0, 0), 0 1px rgb(0, 0, 0), 0 -1px rgb(0, 0, 0),
            1px 1px rgb(0, 0, 0), -1px -1px rgb(0, 0, 0), 1px -1px rgb(0, 0, 0), -1px 1px rgb(0, 0, 0);
        }
        h1{
            font-weight: 700; 
            padding-bottom: 20px;
        }
        h2{
            font-size: 26px;
            font-weight: 500;
            padding-bottom: 10px;
        }
        p{
            width: 600px;
        }
    }

    .headSimu{
        padding: 50px;
        background-color: rgb(29, 37, 68);
        width: 100%;
        margin-bottom: 20px;
        h2{
            position: relative;
            left: 5%;
            max-width: 30%;
            color: white;
        }
    }
    
    .simHistory{
        width: 85%;
        margin-bottom: 5px;
        div{
            background-color: white;
            margin-bottom: 5px;
            div{
                text-align: center;
                width: 55%;
                h2, h3{
                    padding-bottom: 20px;
                }
                li{
                    position: relative;
                    left: 15%;
                    text-align: left;
                }
                p{
                    position: relative;
                    left: 10%;
                    width: 80%;
                    text-align: center;
                    line-height: 30px;
                }
            }
            #entrenaBolkow{
                line-height: 20px;
            }
        }
        .imgSimu{
            width: 550px;
        }
    }
}

@media only screen and (min-width: 1600px){
    #mainSimuladores{

        .headSimu{
            h2{
                left: 10%;
                max-width: 30%;
                color: white;
            }
        }

        .simHistory{
            width: 80%;
            h2, h3{
                font-size: 36px !important;
            }
            p, li{
                font-size: 20px !important;
                line-height: 30px !important;
            }
            .imgSimu{
                width: 750px !important;
            }
        }

        
        
    }
}



@media only screen and (max-width: 1024px){

    #mainSimuladores{
        .simHistory{
            h2, h3{
                font-size: 24px;
                padding-bottom: 5px !important;
            }
            p, li{
                position: relative;
                left: 10%;
                width: 80%;
                text-align: center;
                font-size: 14px;
                line-height: 20px !important;
            }
            .imgSimu{
                width: 400px !important;
            }
        }
        
    }
}

@media only screen and (max-width: 900px){
    .headNav{

        .container-fluid{
            justify-content: space-between !important;
        }
    }

    #mainSimuladores{

        .bannerSimuladores{          //CLAVEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEE
            h1, h2, p{
                left: 2.5%;
                width: 600px;
            }
        }


        .simHistory{
            width: 95%;
            h2, h3{
                font-size: 20px;
                padding-bottom: 5px !important;
            }
            p, li{
                position: relative;
                left: 10%;
                width: 80%;
                text-align: center;
                font-size: 14px;
                line-height: 20px !important;
            }
            .imgSimu{
                width: 400px !important;
            }
        }
        

        .headSimu{
            h2{
                left: 0%;
                max-width: 40%;
            }
        }
    }
}

@media only screen and (max-width: 719px){
    .headNav{

        .container-fluid{
            justify-content: space-between !important;
        }
    }

    #mainSimuladores{

        .bannerSimuladores{          
            h1, h2, p{
                position: relative;
                text-align: center;
                left: 2.5%;
                width: 90vw;
            }
            h2{
                font-size: 16px;
            }
            p{
                font-size: 12px;
            }
        }


        .simHistory{
            width: 95%;
            div{
                flex-wrap: wrap;
                div{
                    width: 100%;
                }
            }
            h2, h3{
                font-size: 20px;
                padding-bottom: 5px !important;
            }
            p, li{
                position: relative;
                left: 10%;
                width: 80%;
                text-align: center;
                font-size: 14px;
                line-height: 20px !important;
            }
            p{
                padding-top: 10px;

            }
            .imgSimu{
                width: 100% !important;
            }
        }
        

        .headSimu{
            h2{
                left: 0%;
                max-width: 80%;
            }
        }
    }
}
