#mainNosotros{
    background-color: lightgray;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgb(41, 41, 41) 30%, rgba(240,240,240,1) 100%);
    .bannerNosotros{
        background-image: linear-gradient(to top, rgb(32, 37, 54), rgba(0, 0, 0, 0) 30%), url("../jpgSimu/banner.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        height: 92vh;
        width: 100vw;
        max-width: 100%;            //CLAVEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEE
        h1, h2, p{
            position: relative;
            left: 10%;
            width: 800px;
            color: white;text-shadow: 1px 0 rgb(0, 0, 0), -1px 0 rgb(0, 0, 0), 0 1px rgb(0, 0, 0), 0 -1px rgb(0, 0, 0),
            1px 1px rgb(0, 0, 0), -1px -1px rgb(0, 0, 0), 1px -1px rgb(0, 0, 0), -1px 1px rgb(0, 0, 0);
        }
        h1{
            font-weight: 700; 
            padding-bottom: 20px;
        }
        h2{
            font-size: 26px;
            font-weight: 500;
            padding-bottom: 10px;
        }
        p{
            width: 600px;
        }
    }
    #PiloCordo{
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: nowrap;
        section{
            width: 100%;
            img{
                width: 24%;
                margin-right: -5px;
            }
        }
    }

    .headNosotros{
        padding: 50px;
        background-color: rgb(29, 37, 68);
        width: 100%;
        margin-bottom: 20px;
        h2{
            position: relative;
            left: 10%;
            max-width: 30%;
            color: white;
        }
    }
        
    

    section{
        width: 80%;
        background-color: rgb(255, 255, 255);
        margin: 20px 0px;
        .contenedorHistoria{
            padding-bottom: 60px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-left: 5%;
            h3{
                padding-top: 50px;
                padding-bottom: 30px;
                font-weight: 600;
                align-self: left;
                border-bottom: 1px solid gray;
                margin-bottom: 20px;
            }
            
            .contenedorParrafos{
                display: flex;
                p{
                    width: 550px;
                    margin-top: 11px;
                    margin-bottom: 15px;
                    line-height: 34px;
                    font-size: 20px;
                }
                img{
                    width: 350px;
                    height: 263px;
                    padding-left: 10px;
                    margin-bottom: 10px;
                }
            }
        }
    }
}

@media only screen and (min-width: 1600px){
    #mainNosotros{
        .contenedorParrafos{
            display: flex;
            p{
                width: 1000px !important;
                margin-top: 11px;
                margin-bottom: 15px;
                line-height: 42px !important;
                font-size: 24px !important;
            }
        }
    }
}

@media only screen and (max-width: 1024px){
    #mainNosotros{
        .contenedorParrafos{
            display: flex;
            p{
                width: 450px !important;
                margin-top: 11px;
                margin-bottom: 15px;
                line-height: 26px !important;
                font-size: 18px !important;
            }
            img{
                width: 280px !important;
                height: 193px !important;
            }
        }
    }
}

@media only screen and (max-width: 980px){
    .container-fluid{
        justify-content: space-between !important;
    }

    #mainNosotros{

        .headNosotros{
            h2{
                left: 0%;
            }
        }

        .bannerNosotros{   
            h1, h2, p{
                left: 2.5%;
                width: 600px;
            }
        }
        section{
            width: 95%;
        }
        .contenedorParrafos{
            display: flex;
            p{
                width: 450px !important;
                margin-top: 11px;
                margin-bottom: 15px;
                line-height: 26px !important;
                font-size: 16px !important;
            }
            img{
                width: 250px !important;
                height: 163px !important;
            }
        }
    }
}

@media only screen and (max-width: 800px){
    #mainNosotros{

        .headNosotros{
            h2{
                left: 0%;
            }
        }

        .bannerNosotros{   
            h1, h2, p{
                position: relative;
                text-align: center;
                left: 2.5%;
                width: 90vw;
            }
            h2{
                font-size: 16px;
            }
            p{
                font-size: 12px;
            }
        }
        section{
            width: 95%;
        }
        #PiloCordo{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            section{
                display: flex;
                flex-wrap: wrap;
                width: 100%;
                align-items: center;
                justify-content: center;
                img{
                    width: 40vw;
                    margin: 10px;
                }
            }
        }
        .contenedorParrafos{
            display: flex;
            flex-direction: column;
            p{
                width: 95% !important;
                margin-top: 11px;
                margin-bottom: 15px;
                line-height: 26px !important;
                font-size: 16px !important;
            }
            img{
                text-align: center;
                width: 250px !important;
                height: 163px !important;
            }
        }
    }
}